body,
html {
  height: 100%;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

/* variables */
:root {
  --red: #ff3d3d;
  --black: #4c4c4c;
  --gray: #d9d9d9;
  --pink-gray: #eadcdb;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./photos/food_hero_image.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo {
  background-image: url("./photos/Logo.png");
  background-size: 100%;
  width: 400px;
  height: 100px;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* NAV BAR */
nav {
  width: 100%;
  height: 50px;
  background-color: var(--pink-gray);
  padding: 10px;
}
.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.button-container {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
  text-align: center;
  width: 33%;
}

.hamburger-menu {
  position: top;
}

.hamburger-menu {
  width: 30px;
  transform: translate(50%, -22.5%);
  position: relative;
}

#side-menu {
  width: 50%;
  height: 100%;

  z-index: 1;

  padding: 10px;

  background-color: var(--pink-gray);

  position: absolute;
  top: 0;
  bottom: 0;
  transform: translate(200%, 0);

  transition: all 1s;
  height: auto;
}
@media screen and (max-width: 768px) {
  #side-menu {
    width: 100%;
    transform: translate(100%, 0);
  }
}

/* Post card */
.posts-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.post {
  width: 500px;
  /* box-shadow: 0px 0px 10px var(--black);
  -webkit-clip-path: inset(-1px -5px -1px -5px); */

  padding: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;

  border-bottom: #4c4c4c solid 2px;
}
.post-img {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 514px) {
  .post {
    width: 100%;
  }
}
